.main-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu__links {
    height: 100%;
    margin: 0 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu__link-wrapper {
    height: 100%;
  }
  .main-menu__link {
    height: 100%;
    padding: 0 20px;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .main-menu__link:hover::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom: 4px solid #006db7;
  }
  .main-menu__search {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 50%;
    background: #037ed1 url('../../images/magnifier.png') 
                no-repeat 
                center;
    cursor: pointer;
  }
  .main-menu__search:hover {
    background-color: #2baaff;
  }