@import url('https://fonts.googleapis.com/css?family=Raleway:600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '../styles/styles.css';

:root {
  --pageBackground: #ffffff;
  --heroWrapper: #122636;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page {
  display: grid;
  grid-template-columns: 1fr 1142px 1fr;
  grid-template-rows: 43px 81px 514px 550px 636px;
  grid-template-areas: 
  'top top top'
  'header header header'
  ' slider slider slider'
  'quick-menu quick-menu quick-menu'
  '. offer .';
  background-color: var(--pageBackground);
  font-family: Raleway;
  font-weight: 700;
}
.top {
  grid-area: top;
  background-color: var(--heroWrapper);
}






